p {
  margin: 0;
  padding: 0;
  font-size: 14px;
  margin-bottom: 2px;
}

/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  background-color: #ececec;
}

/* TopBar */
.navbar-color {
  background-color: #28334a;
}

/* MenuBar */
.btn:hover {
  color: rgb(173, 171, 171) !important;
}

.btn:focus {
  box-shadow: none;
  color: rgb(173, 171, 171) !important;
}

.dropdown-item {
  cursor: pointer;
}

/* CityList */
.city-list {
  width: 80%;
}

@media (min-width: 992px) {
  .city-list {
    max-height: 73vh;
    overflow-y: auto;
    width: 90%;
  }
}

/* GraphSetGrid */
.dummy-btn:hover {
  color: inherit !important;
}

/* TypeSelector */
